version: "3.4"
services:
  cloudmapper:
    build:
      context: .
    volumes:
      - .:/opt/cloudmapper
    environment:
      - VIRTUAL_HOST=cloudmapper.docker
      - VIRTUAL_PORT=8000
      - FILTER
    logging:
      driver: journald
